<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../modules/reveal/dist/reveal.css" />
    <link rel="stylesheet" href="../modules/reveal/dist/theme/dracula.css" />
    <title>Presentation</title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section>{%include "./components/introduction.html"%}</section>
        <section>Slide</section>
      </div>
    </div>
    <script type="module">
      import Reveal from "../modules/reveal/dist/reveal.esm.js";
      import RevealNotes from "../modules/reveal/plugin/notes/notes.esm.js";
      Reveal.initialize({
        hash: true,
        plugins: [RevealNotes],
      });
    </script>
  </body>
</html>
