<section>DEDICACES</section>
<section {{ text_white }} data-background-gradient="{{ blue_gradient }}" data-auto-animate>
  <h2 {{ text_white }}>Pour BUTOYI Tom Christian</h2>
  <ul>
    <li class="fragment">À mon défunt Père</li>
    <li class="fragment">A la Femme qui m’a donnée la vie, ma regrettée Mère</li>
    <li class="fragment">A la Femme qui m’a donnée l’Amour maternel dont un enfant a besoin, ISHIMWE Eline Mimi</li>
    <li class="fragment">À mon Frère et mes Sœurs</li>
  </ul>

  <aside class="notes">
    J'exprime ma profonde gratitude et mes remerciements à mon regretté Père BUTOYI Jean Marc car il fût ma muse de son
    vivant. A ma bien-aimée Mère ISHIMWE Eline Mimi, pour sa tendresse, son appui, ses encouragements et ses soins
    dignes des parents sages.
  </aside>
</section>

<section {{ text_black }} data-background-color="{{ blue }}" data-auto-animate>
  <h2 {{ text_black }}>Pour INGABIRE Emmanuella BUNTU</h2>
  <ul>
    <li class="fragment">À mes Très chers Parents</li>
    <li class="fragment">À mes Frères et Sœur</li>
    <li class="fragment">À ma tendre Grand-mère.</li>
  </ul>

  <aside class="notes">
    <p>
      Mes plus sincères sentiments de gratitude vont au Tout-Puissant, Créateur de l’univers et de tout objet de toute
      Science.
    </p>
    <p>
      Je remercie de tout cœur mes parents, MPENGEKEZE Joseph et RUSAGE Françoise pour leur amour et soutien
      inconditionnel en tout temps. A ma grand-mère, KABUNDA Oladie, pour ses prières qu’elle a inlaçablement prononcées
      en ma faveur.
    </p>
    <p>
      A ma sœur et mes frères : ITANGITEKA Ciella Amandine, DUSHIME Abidân Laprière, BAYIYAGE Marc Cardin,
      BAYISHEMEZE Don Béni et IRIMBABAZI Blaise Bel Ami pour leurs encouragements.
    </p>
  </aside>
</section>

<!-- <style> -->
<!-- .test{ -->
<!-- color: rgb(31, 185, 194); -->
<!-- } -->
<!-- </style> -->