<section>
    <h2 id="tamka-1" class="big-font">TAMKA</h2>
</section>

<section>
    <span id="tamka-2">TAMKA</span>! Du Swahili «prononce», est une application intelligente
    qui utilise les technologies de reconnaissance vocale et de synthèse vocale
    afin de proposer des solutions en matière de prononciation de langue
    française et de l'anglais
</section>

<section>
    <p>
        TAMKA! Du swahili «prononce», est une application intelligente qui utilise les techniques de reconnaissance
        vocale
        et de synthèse vocale afin de proposer des solutions en matière de prononciation de langue française et de
        l'anglais
    </p>

    <p>
        La prononciation correcte des mots étant très importante
        dans l'utilisation d'un langue, le fait est que ce thème n'est pas suffisamment popularisé.
    </p>

    <p>
        Néanmoins, il faut reconnaître le travail accompli par des organismes 
        comme l'Académie de langue française pour normaliser la phonétique.
    </p>

    <p>
        Cependant cela ne semble pas suffisant parce que ce travail de normalisation est très général
        et inaccessible pour les personnes sans notion en phonétique.
    </p>

    <p>
        Les principaux défis relégués par TAMKA reposent sur l'intimité dans le contexte des exercices
        de prononciation tout en gardant un aspect ludique (jeux) afin de tenir l'apprenant en dehors
        de la frustation des échecs, et de présenter chaque séance comme un défi à relever.
    </p>
</section>

<section {{ bg_yellow }}>
    <p>
        Le defis auquel une application comme
        <span id="tamka-3">TAMKA</span> doit faire
        face réside donc dans l'intimité dans le cadre des exercices de prononciation
        tout en gardant un aspect ludique(jeux) afin de garder l'apprenant dans une
        ambiance hors de la frustation des echecs, et de présenter chaque session
        comme un défis
    </p>
</section>