<section>
    <h2 id="tamka">TAMKA</h2>
</section>

<section>
    Tamka! Du Swahili «prononce», est une application qui utilise
    les technologies de reconnaissance vocale et de synthèse vocale
    afin de proposer des solutions en matière de prononciation de langue
    française en premier lieu et de l'anglais
</section>

<section>
    <p>
        La bonne prononciation des mots étant très capitale dans l'usage d'une
        langue, le dur constat est que ce sujet n'est pas assez vulgariser.
    </p>

    <p>
        Tout de même il faut reconnaitre le travail de normalisation de la phonétique
        abbatut par les entités comme l'académie de la langue française.
    </p>

    <p>
        Toutefois cela ne semble pas assez suffisant car ce travail de normalisation est
        très généralisant et inaccessible pour les personne n'ayant aucune notion en phonétique.
    </p>
</section>

<section>
    <p>
        Le defis auquel une application comme <strong>TAMKA</strong> doit faire
        face réside donc dans l'intimité dans le cadre des exercices de prononciation
        tout en gardant un aspect ludique(jeux) afin de garder l'apprenant dans une
        ambiance hors de la frustation des echecs, et de présenter chaque session
        comme un défis.
    </p>
</section>